* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
}

.css-1dkwqii {
  overflow: visible !important;
}

.crop-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 80px;
}

.controls {
  background: lightblue;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 20%;
  margin: 0 0 0 40%;
  padding: 0 16px;
  height: 80px;
  color: #fff;
  font-size: 2rem;
  text-align: center;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background: #f0f0f0;
  color: #333;
  max-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #333;
}

.grid-wrapper {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'navbar navbar navbar' 'aside content sidebar';
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
}

.navbar {
  background: #fff;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: navbar;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar li:hover {
  background: #666;
}

.navbar li:hover a {
  color: #fff;
}

.navbar li {
  padding: 1rem 1.5rem;
}

.navbar a {
  text-decoration: none;
  padding-bottom: 0.5rem;
  -webkit-transition: border-color 0.5s;
  transition: border-color 0.5s;
}

.navbar h1 {
  height: 100%;
  margin-top: 0.8rem;
  margin-left: 1rem;
}

.content {
  grid-area: content;
  max-width: 960px;
  margin: auto 0;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: content;
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
}

.post {
  width: 65%;
  min-width: 450px;
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  background: #fff;
  margin: 1rem 0;
  border: 1px solid #dddddd;
}

.post img {
  width: 100%;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

.post .btn-like,
.post .btn-unlike {
  width: 25%;
}

.profile-wrapper {
  width: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'profileHeader profileHeader profileHeader' 'gridWrapper gridWrapper gridWrapper';
}

.profile-header {
  padding: 1rem;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1, 1fr;
      grid-template-columns: 1, 1fr;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: profileHeader;
  margin: 1rem;
  background: #fff;
  border: 1px solid #dddddd;
}

.profile-header .btn-action {
  margin: 0.5rem auto;
}

.post-grid-wrapper {
  margin: 1rem;
  padding: 1rem;
  background: #fff;
  border: 1px solid #dddddd;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: gridWrapper;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.post-grid {
  width: 40%;
  min-width: 220px;
  -ms-grid-column-align: center;
      justify-self: center;
  display: block;
}

.post-grid img {
  width: 100%;
}

ul {
  list-style: none;
}

.nickname {
  font-weight: bold;
}

.btn-like, .btn-action, .btn-unlike {
  display: inline-block;
  padding: 0.5rem 2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
  margin: 0.5rem 0.8rem;
  margin-top: 0.2rem;
}

.btn-like {
  background: none;
  border: 1px solid #888;
  color: #888;
  font-weight: bold;
}

.btn-like:hover {
  border: 1px solid #ff5f5f;
  color: #ff5f5f;
}

.btn-like:focus {
  outline: none;
}

.btn-action {
  background: none;
  border: 1px solid #49a5fc;
  color: #49a5fc;
  font-weight: bold;
}

.btn-action:hover {
  border: 1px solid #0084ff;
  color: #0084ff;
}

.btn-action:focus {
  outline: none;
}

.btn-unlike {
  background: none;
  border: 1px solid #ff5f5f;
  color: #ff5f5f;
  font-weight: bold;
}

.btn-unlike:hover {
  text-decoration: line-through;
}

.btn-unlike:focus {
  outline: none;
}

.comments {
  border-top: 1px solid #dddddd;
  padding: 0 2% 0 2%;
  overflow: hidden;
}

.comments div {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-line;
  padding: 0.5rem;
}

.post > a {
  padding: 1rem;
}

.form-comment {
  border-top: 1px solid #dddddd;
  padding: 0 3% 0 3%;
}

.form-comment input {
  padding: 0.5rem 0rem;
  width: 95%;
  border: none;
}

.form-comment input:focus {
  outline: none;
}

.messages {
  padding: 1rem;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 1rem;
  height: 80vh;
  width: 60vw;
  background: #fff;
  border: 1px solid #dddddd;
  overflow: auto;
}

.messages div {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-line;
}

.message-form {
  display: -ms-grid;
  display: grid;
  padding: 0rem 1rem;
}

.message-form input {
  padding: 0.5rem 1rem;
  width: 100%;
  border: none;
  -ms-grid-column-align: center;
      justify-self: center;
  border: 1px solid #dddddd;
  border-top: none;
}

.message-form input:focus {
  outline: none;
}

.login-register {
  border: 1px solid #dddddd;
  background: #fff;
  width: 100%;
  text-align: center;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 1rem;
  margin: 1rem;
}

.login-register input {
  padding: 0.5rem 0.5rem;
  border: 1px solid #dddddd;
  width: 90%;
  margin: 0.5rem;
}

@media (max-width: 768px) {
  html,
  body {
    font-size: 20px;
  }
  .grid-wrapper {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'navbar ' 'content';
    -ms-grid-rows: auto 1fr;
        grid-template-rows: auto 1fr;
  }
  .navbar {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar li {
    width: 100vw;
    padding: 1rem;
    text-align: center;
  }
  h1 {
    padding: 1rem;
    padding-top: 0rem;
  }
  ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content {
    grid-area: content;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: content;
    -ms-grid-column-align: center;
        justify-self: center;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .post {
    width: 65%;
    min-width: 350px;
    -ms-grid-column-align: center;
        justify-self: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 1fr auto;
        grid-template-rows: auto 1fr auto;
    background: #fff;
    margin: 1rem 0;
    border: 1px solid #dddddd;
  }
  .post img {
    width: 100%;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
  }
  .post .btn-like,
  .post .btn-unlike {
    width: 25%;
  }
  .profile-wrapper {
    width: 100%;
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'profileHeader' 'gridWrapper';
  }
  .profile-header {
    padding: 1rem;
    text-align: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: profileHeader;
    background: #fff;
    border: 1px solid #dddddd;
  }
  .post-grid-wrapper {
    padding: 1rem;
    background: #fff;
    border: 1px solid #dddddd;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: gridWrapper;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
  .post-grid {
    width: 40%;
    min-width: 300px;
    -ms-grid-column-align: center;
        justify-self: center;
    display: block;
  }
  .post-grid img {
    width: 100%;
  }
  .login-register {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .btn-like,
  .btn-unlike {
    padding: 0.5rem 0rem;
  }
}
/*# sourceMappingURL=index.css.map */